<%- include('./partials/header') %>


<div id="homepage-div" class="container-xxl px-md-5 shadow-lg">
    <div class="row flex-lg-row-reverse align-items-center g-4 py-2 mb-4">
        <div class="col-12 col-lg-6">
            <img src="https://i.imgur.com/wuOHHxw.jpg" width="607"  class="d-block mx-lg-auto img-fluid" style="border-radius: 10%;" loading="lazy" alt="tikka masala">
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold mb-3">Encapsulating the ethos of home.</h1>
            <p class="lead">
                Welcome to Ammu's Rannaghor! Here you will find delicious family recipes trying to preserve the essence of what home is like. These meals have been tried, tested, and loved for generations. I hope that the recipes bring your family together around the table!
            </p>
        </div>
    </div>


    <section class="px-4 py-5 my-5 text-center border-top">
        <h2 class="display-5 fw-600"> Publish your own recipe for FREE</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Publish your recipe for everyone to enjoy.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/recipes/new" class="btn btn-primary btn-dark btn-lg">Publish Recipe</a>
            </div>
        </div>
    </section>
</div>

    <%- include('./partials/footer') %>