

* {
 font-family: 'Noticia Text';
 color: #544730;
}

.category__link{
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.nav-link {
  color: #544730;
}

header {
  font-size:larger;
}

#all-recipes-div, #create, #edit {
  background-color: #F3EADB;
}