<%- include('../partials/header') %>

    <div id="blurb">
      <h1> Recipes </h1>
      <p>I grew up in the kitchen along side my mom and conversations in my family are always about the next meal. I picked up their love for food along the way, and with this site,
       I share my food story with you.
      </p>
    </div>
    <table id="full">
      <tbody>
        <% recipes.forEach(function(r) { %>
          <tr>
            <td><%= r.title %></td>
            <td><a href="/recipes/<%= r._id %>">Full Recipe</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>